<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Category</title>
    <link rel="stylesheet" href="/css/addcategory.css">
</head>

<body>

    <h2>Add Category</h2>
    <form th:action="@{/addCategory}" th:object="${category}" method="post">

        <input type="text" th:field="*{name}" placeholder="Enter Category name">
        <br><br>
        <input type="submit">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></div>
        <br><br>
        <a href="/">Go to Home</a>
    </form>

</body>

</html>
