<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glowing - Reveal The Beauty of Skin</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="/css/style.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap" rel="stylesheet">

</head>

<body id="top">

  <!-- 
    - #HEADER
  -->
  <div th:replace="fragments/header :: header"></div>

  <!-- 
    - #MOBILE NAVBAR
  -->

  <div class="sidebar">
    <div class="mobile-navbar" data-navbar>

      <div class="wrapper">
        <a href="#" class="logo">
          <img src="/images/logo.png" width="179" height="26" alt="Glowing">
        </a>

        <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
          <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
        </button>
      </div>

      <ul class="navbar-list">

        <li>
          <a href="index.html" class="navbar-link" data-nav-link>Home</a>
        </li>

        <li>
          <a href="#collection" class="navbar-link" data-nav-link>Collection</a>
        </li>

        <li>
          <a href="#shop" class="navbar-link" data-nav-link>Shop</a>
        </li>

        <li>
          <a href="#offer" class="navbar-link" data-nav-link>Offer</a>
        </li>

        <li>
          <a href="#blog" class="navbar-link" data-nav-link>Blog</a>
        </li>

      </ul>

    </div>

    <div class="overlay" data-nav-toggler data-overlay></div>
  </div>

  <!-- 
    - #COLLECTION
  -->

  <section class="section collection" id="collection" aria-label="collection" data-section>
    <div class="container">
      <ul class="collection-list">
        <li th:each="crossbagprod: ${crossbagsProducts}">
          <div class="collection-card has-before hover:shine">
            <h2 class="h2 card-title" th:text="${crossbagprod.name}"></h2>
            <p class="card-text" th:text="'Starting at $' + ${crossbagprod.price}"></p>

            <!-- Thymeleaf Template -->
            <form th:action="@{/addToCart}" method="get">
              <input type="hidden" name="productId" th:value="${crossbagprod.id}" />
              <label for="quantity">Quantity:</label>
              <input type="number" id="quantity" name="quantity" min="1" value="1" />
              <button type="submit" class="btn-link">
                <span class="span">Shop Now</span>
                <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
              </button>
            </form>

            <div class="has-bg-image">
              <img th:src="@{/images/{photo}(photo=${crossbagprod.photo})}" alt="Product Photo">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <script src="/js/script.js" defer></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
