<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <link rel="stylesheet" href="/css/editpass.css">
</head>

<body>
    <h2>Edit User</h2>
    <form action="/user/editpass" method="POST">
        <!-- Display error message if it exists -->
        <div th:if="${errorMessage}" class="error-message">
            <p th:text="${errorMessage}"></p>
        </div>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br><br>
        <label for="oldPassword">Old Password:</label><br>
        <input type="password" id="oldPassword" name="oldPassword"><br><br>

        <label for="newPassword">New Password:</label><br>
        <input type="password" id="newPassword" name="newPassword"><br><br>

        <label for="confirmNewPassword">Confirm Password:</label><br>
        <input type="password" id="confirmNewPassword" name="confirmNewPassword"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>

</html>